:root {
    --text-light: #FFFFFF;
    --border-light: #f0f0f0;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

header {
    border-bottom: 1px solid #E5E8EB;
    padding: 12px 40px;
    background-color: #FFFFFF;
    position: sticky;
    top: 0;
    z-index: 100;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: #171412;
    font-weight: bold;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
}

nav li a {
    text-decoration: none;
    color: #171412;
    padding: 8px 0;
}

main {
    max-width: 1280px;
    margin: 0 auto;
    padding: 20px 40px;
}

h2 {
    color: #171412;
    padding-bottom: 12px;
    padding-top: 20px;
}

.sub {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.carrd {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.carrd img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
}

.carrd h3 {
    color: #171412;
    margin: 0;
}

.carrd p {
    color: #8A7561;
    margin: 0;
}

.segundo,
.tercero {
    padding-top: 20px;
    padding-bottom: 12px;
}

.segundo h2,
.tercero h2 {
    font-size: 22px;
    color: #171412;
    font-weight: 600;
    line-height: 28px;
}

.segundo p,
.tercero p {
    font-size: 16px;
    color: #171412;
    font-weight: 400;
    line-height: 24px;
    padding-top: 4px;
    padding-bottom: 12px;
    max-width: 928px;
}

footer {
    background: var(--background-dark);
    color: var(--text-light);
    padding: 2.5rem 40px 1.5rem;
    display: flex;
    justify-content: space-between;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding-bottom: 1.5rem;
    max-width: 1280px;
    margin: 0 auto;
}

footer a.ron {
    color: var(--text-light);
    text-decoration: none;
    color: #aaa;
}

footer a.ron:hover {
    text-decoration: underline;
}

.social-icons a {
    font-size: 1.3rem;
    margin: 0 0.75rem;
    transition: color 0.3s ease;
    color: var(--text-light);
    text-decoration: none;
    color: #aaa;
}

.social-icons a:hover {
    text-decoration: none;
}

.footer-bottom {
    text-align: center;
    margin-top: 1.5rem;
    color: #aaa;
    font-size: 0.9rem;
    max-width: 1280px;
    margin: 1.5rem auto 0;
}